ports/RGSX/logs/ 
ports/RGSX/images/ 
ports/RGSX/games/ 
ports/RGSX/__pycache__/ 
ports/RGSX/sources.json 
ports/gamelist.xml
windows/gamelist.xml
ports/gamelist.xml
*.log
*.rar
*.zip
.vscode/
ports/RGSX.bat
.venv/
\# Secrets / runtime data
saves/ports/rgsx/1fichierAPI.txt
roms/fbneo/